/data/
data.out
/.gitignore
/.project
/.pydevproject
/ArffWriter.pyc
/DataParser.pyc
/DataWriter.pyc
/FileReader.pyc
/PerfData.pyc
/linear_regression_key_file_100MBtxt_1.arff
/linear_regression_key_file_100MBtxt_12.arff
/linear_regression_key_file_100MBtxt_2.arff
/linear_regression_key_file_100MBtxt_4.arff
/linear_regression_key_file_100MBtxt_8.arff
/linear_regression_key_file_500MBtxt_1.arff
/linear_regression_key_file_500MBtxt_12.arff
/linear_regression_key_file_500MBtxt_2.arff
/linear_regression_key_file_500MBtxt_4.arff
/linear_regression_key_file_500MBtxt_8.arff
/linear_regression_key_file_50MBtxt_1.arff
/linear_regression_key_file_50MBtxt_12.arff
/linear_regression_key_file_50MBtxt_2.arff
/linear_regression_key_file_50MBtxt_4.arff
/linear_regression_key_file_50MBtxt_8.arff
/streamcluster_simlarge_1.arff
/streamcluster_simlarge_12.arff
/streamcluster_simlarge_2.arff
/streamcluster_simlarge_4.arff
/streamcluster_simlarge_8.arff
/streamcluster_simmedium_1.arff
/streamcluster_simmedium_12.arff
/streamcluster_simmedium_2.arff
/streamcluster_simmedium_4.arff
/streamcluster_simmedium_8.arff
/streamcluster_simsmall_1.arff
/streamcluster_simsmall_12.arff
/streamcluster_simsmall_2.arff
/streamcluster_simsmall_4.arff
/streamcluster_simsmall_8.arff
/test.arff
/input
/output
